<footer class="site-footer mdl-grid" >

<span class="mdl-cell--6-col" style="text-align: center;font-size:14px;line-height: 64px">©  Coypright 2016 <a href="http://www.vikashverma.com"  style="color:#428bca;text-decoration: none">Vikash Verma</a>, All Rights Reserved</span>
<div class="mdl-cell--6-col" style="text-align: center;line-height: 64px;">
<a href="https://www.facebook.com/vikashvverma" target="_blank"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x fa-inverse" style="color: #428bca !important"></i> <i class="fa fa-facebook fa-stack-1x fa-inverse" ></i></span></a>
<a href="https://www.google.com/+VikashVerma" target="_blank"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x fa-inverse" style="color: #C63D2D !important"></i> <i class="fa fa-google-plus fa-stack-1x fa-inverse" ></i></span></a>
<a href="https://www.github.com/vikashvverma" target="_blank"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x fa-inverse" style="color: #222222 !important"></i> <i class="fa fa-github fa-stack-1x fa-inverse" ></i></span></a>
</div>
  <!-- <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.facebook_username %}
          <li>
            {% include icon-facebook.html username=site.facebook_username %}
          </li>
          {% endif %}

          {% if site.google_username %}
          <li>
            {% include icon-google.html username=site.google_username %}
          </li>
          {% endif %}
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div> -->

</footer>
