<div class="author">
  <div class="author_content">
    <div class="author_pic">
      <img src="/images/Vikash_Verma.jpg" style="width:75px;height:75px;" alt="Vikash Verma" class="author_avatar" />
    </div>
    <div class="author_bio">
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
      <span itemprop="name">
        <span class="avatar_wrapper">
          <h3 style="margin-top: -25px;margin-bottom: -20px;">Vikash Verma</h3>
        </span>
      </span>
    </span>
      <p>
        Just a curious Programmer, 
        <!-- Founder of <a href="//programminggeek.in" target="_blank">Programming Geek</a>, -->
         Application Developer at <a href="//thoughtworks.com" target="_blank">ThoughtWorks Inc</a>. Go, Scala, JavaScript, AngularJS, ReactJS, NodeJS enthusiast.
      </p>
    </div>
  </div>
</div>
