<div class="author">
  <div class="author_content">
    <div class="author_pic">
      <img src="/images/Vikash_Verma.jpg" style="width:75px;height:75px;" alt="Vikash Verma" class="author_avatar" />
    </div>
    <div class="author_bio">
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
      <span itemprop="name">
        <span class="avatar_wrapper">
          <h3 style="margin-top: -25px;margin-bottom: -20px;">Vikash Verma</h3>
        </span>
      </span>
    </span>
      <p>
        Just a curious Programmer,
        <!-- Founder of <a href="//programminggeek.in" target="_blank">Programming Geek</a>, -->
         Application Developer at <a href="//thoughtworks.com" target="_blank">ThoughtWorks Inc</a>. Go, Scala, JavaScript, AngularJS, ReactJS, NodeJS enthusiast.
      </p>
        <a href="https://www.facebook.com/vikashvverma" target="_blank"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x fa-inverse" style="color: #428bca !important"></i> <i class="fa fa-facebook fa-stack-1x fa-inverse" ></i></span></a>
        <a href="https://www.google.com/+VikashVerma" target="_blank"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x fa-inverse" style="color: #C63D2D !important"></i> <i class="fa fa-google-plus fa-stack-1x fa-inverse" ></i></span></a>
        <a href="https://twitter.com/_vikashverma" target="_blank"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x fa-inverse" style="color: #1DA1F2 !important"></i> <i class="fa fa-twitter fa-stack-1x fa-inverse" ></i></span></a>
        <a href="https://www.github.com/vikashvverma" target="_blank"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x fa-inverse" style="color: #222222 !important"></i> <i class="fa fa-github fa-stack-1x fa-inverse" ></i></span></a>
    </div>
  </div>
</div>
